<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item (click)="openDialog(); sidenav.toggle()">
        <mat-icon>note_add</mat-icon><span class="nav-caption">Agregar
          Reclamo</span>
      </a>
      <a mat-list-item routerLink="">
        <mat-icon>exit_to_app</mat-icon><span class="nav-caption">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar id="navbar" color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a id="botonHome" routerLink="/home">ReclamosAPP</a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
            <button *ngIf="estaLogueado" mat-button id="agregarRec" (click)="openDialog()">Agregar Reclamo</button>
          </li>
          <li>
            <button *ngIf="estaLogueado" mat-button id="logout" (click)="logout()">Logout</button>
            <button *ngIf="!estaLogueado" mat-button id="logout" (click)="login()">Login</button>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>