<form class="example-form" ngNativeValidate [formGroup]="formulario" (ngSubmit)="crearReclamo()">
    <h3>NUEVO RECLAMO</h3>
    <hr>
    <div id="buscarMail" fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Mail del cliente" type="email" formControlName="email">
        </mat-form-field>
        <button mat-raised-button id="buscar" type="button" (click)="mostrar()">Buscar</button>
    </div>
    <div *ngIf="mostrarModal">
        <mat-form-field class="example-full-width">
            <mat-label>Orden de compra</mat-label>
            <mat-select>
                <mat-option *ngFor="let orden of ordenes" [value]="orden">
                    {{orden}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Descripción" formControlName="descripcion" required></textarea>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions>
            <button mat-stroked-button id='cancelar' [mat-dialog-close]>Cancelar</button>
            <button *ngIf="!loading" mat-raised-button id="crear" type="submit" cdkFocusInitial>Crear</button>
            <button *ngIf="loading" disabled mat-raised-button id="creando" type="submit"
                cdkFocusInitial>Cargando...</button>
        </div>
    </div>
</form>