.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#crear{
  margin: 0 10px;
  font-family: 'Varela Round';
  color: #f5f5f5;
  background-color: #007363;
}

#cancelar{
  margin: 0 10px;
  font-family: 'Varela Round';
  color: #007363;
  background-color: #f5f5f5;
}