<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre y Apellido del Cliente">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Número de Orden">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descripción"></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions>
        <button mat-stroked-button color="primary">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" cdkFocusInitial>Crear</button>
    </div>
</form>