<form class="example-form" ngNativeValidate [formGroup]="formulario" (ngSubmit)="crearReclamo()">
    <h3>NUEVO RECLAMO</h3>
    <hr>
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Mail" formControlName="mail" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Número de orden" formControlName="nroOrden" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Descripción" formControlName="descripcion" required></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Ciudad" formControlName="ciudad" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Provincia" formControlName="provincia" required>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-around center">

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Calle" formControlName="calle" required>
            </mat-form-field>

            <mat-form-field id="cp">
                <input matInput placeholder="Código Postal" formControlName="codPostal" required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions>
            <button mat-stroked-button id='cancelar' [mat-dialog-close]>Cancelar</button>
            <button *ngIf="!loading" mat-raised-button id="crear" type="submit" cdkFocusInitial>Crear</button>
            <button *ngIf="loading" disabled mat-raised-button id="creando" type="submit"
                cdkFocusInitial>Cargando...</button>
        </div>
    </div>
</form>