.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#crear{
  margin: 0 10px;
  font-family: 'Varela Round';
  color: #fff;
  background-color: #007363;
  margin-bottom: 10px;
}

#creando {
  margin: 0 10px;
  font-family: 'Varela Round';
  color: #fff;
  background-color: #6f8b88;
}

#cancelar{
  margin: 0 10px;
  font-family: 'Varela Round';
  color: #007363;
  background-color: #fff;
  margin-bottom: 10px;
  border-color: #007363;
}

h3{
  margin: 10px auto;
  color: #007363;
}

#cp{
  margin-left: 20px;
}
