<form class="example-form" ngNativeValidate [formGroup]="formulario" (ngSubmit)="modificar()">

    <!-- Estado -->
    <mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado" [compareWith]="compare">
            <mat-option *ngFor="let estado of estados" [value]="estado.id" (onChange)="data.estado.id = estado.id">
                {{estado.descripcion}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Descripción -->
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descripción" formControlName="descripcion" required></textarea>
    </mat-form-field>

    <!-- Número de Orden -->
    <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="Número de Orden" formControlName="nroOrden" required />
    </mat-form-field>

    <!-- Botones -->
    <div fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions>
        <button mat-stroked-button id='cancelar' [mat-dialog-close]>Cancelar</button>
        <button mat-raised-button id="modificar" type="submit" cdkFocusInitial>Modificar</button>
    </div>
</form>